<!--- CUSTOM --->

<!-- <h1 (click)="expand()">{{ category.categoryTitle }}</h1>
<div *ngIf="expanded" class="container-fluid"> -->
    <!-- <button (click)="changeSelection('down')" id="left"><i class="material-icons">keyboard_arrow_left</i></button> -->
    <!-- <app-choice 
    [ngStyle]="{'opacity': choiceSelected === i ? '1' : '.7' }"
    *ngFor="let choice of choices, let i = index" 
    [choiceInfo]="{ choice: choice, choiceIndex: i }"
    [(choiceSelected)]="choiceSelected">
    </app-choice> -->
    <!-- <button (click)="changeSelection('up')" id="right"><i class="material-icons">keyboard_arrow_right</i></button> -->
<!-- </div> -->

<!--- CAROUSEL --->
<div id="carouselContainer">
    <h1 (click)="expand()">{{ category.categoryTitle }}</h1>

    <ngb-carousel
    [showNavigationArrows]="true" 
    [showNavigationIndicators]="false"
    interval="10000"
    [keyboard]="true"
    [pauseOnHover]="true"
    [wrap]="false"
    [activeId]="2"
    *ngIf="categoriesService.expandedArray[currentCategory].expanded">
        <div *ngFor="let choice of choices, let i = index" >
            <ng-template ngbSlide [id]="i">
                <app-choice 
                [choices]="choices"
                [choiceInfo]="{ choice: choice, choiceIndex: i }">
                <!-- [(choiceSelected)]="choiceSelected" -->
                </app-choice>
            </ng-template> 
        </div>
    </ngb-carousel>
    
    <hr>
</div>

