<div id="carouselContainer">
    <h1 (click)="expand()">{{ category.categoryTitle }}</h1>

    <ngb-carousel
    [showNavigationArrows]="true" 
    [showNavigationIndicators]="false"
    interval="10000"
    [keyboard]="true"
    [pauseOnHover]="true"
    [wrap]="false"
    [activeId]="2"
    *ngIf="categoriesService.expandedArray[currentCategory].expanded">
        <div *ngFor="let choice of category.categoryChoices, let i = index" >
            <ng-template ngbSlide [id]="i">
                <app-choice 
                [choices]="category.categoryChoices"
                [choiceInfo]="{ choice: choice, choiceIndex: i }">
                </app-choice>
            </ng-template> 
        </div>
    </ngb-carousel>
    
    <hr>
</div>

