<!-- <h1 (click)="expand()">{{ category.categoryTitle }}</h1>
<div *ngIf="expanded" class="container-fluid"> -->
    <!-- <button (click)="changeSelection('down')" id="left"><i class="material-icons">keyboard_arrow_left</i></button> -->
    <!-- <app-choice 
    [ngStyle]="{'opacity': choiceSelected === i ? '1' : '.7' }"
    *ngFor="let choice of choices, let i = index" 
    [choiceInfo]="{ choice: choice, choiceIndex: i }"
    [(choiceSelected)]="choiceSelected">
    </app-choice> -->
    <!-- <button (click)="changeSelection('up')" id="right"><i class="material-icons">keyboard_arrow_right</i></button> -->
<!-- </div> -->

<!-- -------------- -->
<h1 (click)="expand()">expand()</h1>
<section *ngIf="expanded" class="pt-5 circle-1">

    <div class="container pb-5 position-relative">
                    <div id="demo" class="carousel slide position-relative" data-ride="carousel">

                            <!-- Indicators -->
                                    <ul class="carousel-indicators">
                                            <li data-target="#demo" data-slide-to="0" class=""></li>
                                            <li data-target="#demo" data-slide-to="1" class="active"></li>
                                            <li data-target="#demo" data-slide-to="2" class=""></li>
                                          </ul>

                          
                            <!-- The slideshow -->
                            <div class="carousel-inner">
                              <div class="carousel-item active carousel-item-left">
                                    <div class="d-flex">
                                            <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                                    <a href="#" class="introduce pb-3">
                                                    <div class="flex-column-1 ">
                                                        <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                                    </div>
                                                    <div class="flex-column-2 d-flex">
                                                        <div class="pic p1"></div>
                                                        <div class="information  flex-column pl-3 pt-2">
                                                            <p>David Beckham</p>
                                                            <p class="text-gray">Managing Director</p>
                                                        </div>
                                                    </div>
                                                    <span></span>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                                    <a href="#" class="introduce pb-3">
                                                        <div class="flex-column-1 ">
                                                            <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                                        </div>
                                                        <div class="flex-column-2 d-flex">
                                                            <div class="pic p2"></div>
                                                            <div class="information  flex-column pl-3 pt-2">
                                                                <p>David Luiz</p>
                                                                <p class="text-gray">Ceo &amp; Founder</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                                                    <a href="#" class="introduce pb-3">
                                                        <div class="flex-column-1 ">
                                                            <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                                        </div>
                                                        <div class="flex-column-2 d-flex">
                                                            <div class="pic p3"></div>
                                                            <div class="information  flex-column pl-3 pt-2">
                                                                <p>Donna Karan</p>
                                                                <p class="text-gray">Fashion Designer</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                    </div>

                                </div>	
                                <div class="carousel-item carousel-item-next carousel-item-left">
                                        <div class="d-flex">
                                                <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                                        <a href="#" class="introduce pb-3">
                                                        <div class="flex-column-1 ">
                                                            <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                                        </div>
                                                        <div class="flex-column-2 d-flex">
                                                            <div class="pic p1"></div>
                                                            <div class="information  flex-column pl-3 pt-2">
                                                                <p>David Luiz</p>
                                                                <p class="text-gray">Ceo &amp; Founder</p>
                                                            </div>
                                                        </div>
                                                        <span></span>
                                                    </a>
                                                </div>
                                                <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                                        <a href="#" class="introduce pb-3">
                                                            <div class="flex-column-1 ">
                                                                <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                                            </div>
                                                            <div class="flex-column-2 d-flex">
                                                                <div class="pic p2"></div>
                                                                <div class="information  flex-column pl-3 pt-2">
                                                                    <p>David Luiz</p>
                                                                    <p class="text-gray">Ceo &amp; Founder</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                                                        <a href="#" class="introduce pb-3">
                                                            <div class="flex-column-1 ">
                                                                <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                                            </div>
                                                            <div class="flex-column-2 d-flex">
                                                                <div class="pic p3"></div>
                                                                <div class="information  flex-column pl-3 pt-2">
                                                                    <p>Donna Karan</p>
                                                                    <p class="text-gray">Fashion Designer</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                        </div>

                                    </div>
                                    <div class="carousel-item ">
                                            <div class="d-flex">
                                                    <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                                            <a href="#" class="introduce pb-3">
                                                            <div class="flex-column-1 ">
                                                                <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                                            </div>
                                                            <div class="flex-column-2 d-flex">
                                                                <div class="pic p1"></div>
                                                                <div class="information  flex-column pl-3 pt-2">
                                                                        <p>Donna Karan</p>
                                                                        <p class="text-gray">Fashion Designer</p>
                                                                </div>
                                                            </div>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                                            <a href="#" class="introduce pb-3">
                                                                <div class="flex-column-1 ">
                                                                    <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                                                </div>
                                                                <div class="flex-column-2 d-flex">
                                                                    <div class="pic p2"></div>
                                                                    <div class="information  flex-column pl-3 pt-2">
                                                                        <p>David Luiz</p>
                                                                        <p class="text-gray">Ceo &amp; Founder</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                                                            <a href="#" class="introduce pb-3">
                                                                <div class="flex-column-1 ">
                                                                    <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                                                </div>
                                                                <div class="flex-column-2 d-flex">
                                                                    <div class="pic p3"></div>
                                                                    <div class="information  flex-column pl-3 pt-2">
                                                                        <p>Donna Karan</p>
                                                                        <p class="text-gray">Fashion Designer</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                            </div>
    
                                        </div>
                            </div>
                          
                            <!-- Left and right controls -->
            
                                    <a class="carousel-control-prev" href="#demo" data-slide="prev" style="opacity: 1; left: -10%;">
<!-- <i class="fas fa-chevron-left" style="color:#5969f6; font-size:30px;"></i> --> 
<i class="fas fa-arrow-circle-left fa-3x"></i>
                                    </a>
                                    <a class="carousel-control-next" href="#demo" data-slide="next" style="opacity: 1; transform: rotate(-180deg); right: -10%;">
<!-- <i class="fas fa-chevron-left" style="color:#5969f6; font-size:30px;"></i> -->
<i class="fas fa-arrow-circle-left fa-3x"></i>
                                    </a>

                          
                          </div>



            </div>
        

</section>

<hr>
