<!--- CUSTOM --->

<!-- <div class="card" 
  tabindex="0"
  (click)="useChoice()" 
  appChoiceStyling
  [choiceActive]="choiceInfo.choiceIndex === choiceSelected">
    <img src="{{ choice.choiceImg }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ choice.choiceTitle }}</h5>
      <p class="card-text">{{ choice.choiceDescription }}</p>
    </div>
</div> -->

<!--- CAROUSEL --->

<div class="card" >
  <div class="card-body">
    <h5 class="card-title">{{choiceInfo.choice.choiceTitle}}</h5>
    <p class="card-text">{{choiceInfo.choice.choiceDescription}}</p>
    <img [src]="choiceInfo.choice.choiceImg" alt="">
  </div>
</div>

