<!-- <mat-card>
    <mat-card-header> -->
      <!-- <div mat-card-avatar class="choice-header-image"></div> -->
      <!-- <mat-card-title>{{ choice.choiceTitle }}</mat-card-title>
    </mat-card-header>
    <div id="imgContainer">
      <img mat-card-image src="{{ choice.choiceImg }}">
    </div>
    <mat-card-content>
      <p>{{ choice.choiceDescription }}</p>
    </mat-card-content>
</mat-card> -->

<div class="card">
  <img src="{{ choice.choiceImg }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ choice.choiceTitle }}</h5>
    <p class="card-text">{{ choice.choiceDescription }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
